* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-container{
  display: flex;
  min-height: calc(100vh - 70px); /* header height */
}

.content-area{
  flex: 1;
  padding: 25px;
  background: #f2f6fc;
}
