<app-header></app-header>
<app-sidebar></app-sidebar>

<app-pageheader
  [title]="headerTitle"
  [breadcrumbs]="headerBreadcrumbs">
</app-pageheader>

<app-data-table
  [columns]="columns"
  [rows]="filteredOpportunities"
  [searchFields]="searchFields"
  [showImport]="true"
  [showAdd]="true"
  [showReset]="true"
  [totalElements]="totalElements"
  [currentPage]="currentPage"
  (searchChange)="onSearchChange($event)"
  (search)="onSearch()"
  (reset)="onReset()"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
  (download)="downloadExcel()"
  (add)="onAdd()"
  (editRow)="onEdit($event)">
</app-data-table>

<!-- ADD/EDIT OPPORTUNITY MODAL -->
<app-modal [show]="showAddModal" [title]="isEditMode ? 'Edit Opportunity' : 'Add New Opportunity'" size="xl" (closeDialog)="closeModal()">
  <div style="padding: 15px;">
    <form #oppForm="ngForm" (ngSubmit)="onSubmitOpp(oppModel)">
      <div class="opportunity-form-grid">
        <div class="form-field-group" *ngFor="let field of oppFields">
          <label [for]="field.name">
            {{ field.label }} <span *ngIf="field.required" style="color: #ef4444;">*</span>
          </label>
          
          <select *ngIf="field.type === 'select'" 
            [(ngModel)]="oppModel[field.name]" 
            [name]="field.name"
            [id]="field.name" 
            (ngModelChange)="onFieldChange(field.name, $event)"
            [required]="field.required"
            class="form-control">
            <option value="" disabled selected>-- Select --</option>
            <option *ngFor="let opt of field.options" [value]="opt.value">{{ opt.label }}</option>
          </select>

          <input *ngIf="field.type === 'number'" 
            type="number" 
            [(ngModel)]="oppModel[field.name]" 
            [name]="field.name"
            [id]="field.name" 
            [placeholder]="'Enter ' + field.label"
            [required]="field.required"
            class="form-control">
          
          <input *ngIf="field.type === 'text'" 
            type="text" 
            [(ngModel)]="oppModel[field.name]" 
            [name]="field.name"
            [id]="field.name" 
            [placeholder]="'Enter ' + field.label"
            [required]="field.required"
            class="form-control">
          
          <input *ngIf="field.type === 'date'" 
            type="date" 
            [(ngModel)]="oppModel[field.name]" 
            [name]="field.name"
            [id]="field.name" 
            [required]="field.required"
            class="form-control">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn-cancel" (click)="closeModal()">Cancel</button>
        <button type="submit" class="btn-submit">Submit</button>
      </div>
    </form>
  </div>
</app-modal>

