<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
 
<div class="form-wrapper" (click)="hostClick()">
  <div class="company-form-container">
 
    <!-- Form title removed per user request -->
 
    <div class="form-body-section">
      <form #form="ngForm" (ngSubmit)="submit(form)">
 
        <div class="form-grid-container">
          <!-- LOOP ALL FIELDS -->
          <ng-container *ngFor="let field of fields">
            <div class="company-field-row"
                 [class.full-width]="field.type === 'textarea'">
 
              <!-- LABEL -->
            <label class="field-label-text">
              {{ field.label }}
              <span *ngIf="field.required" class="mandatory-star">*</span>
            </label>
 
            <div class="field-input-area">
 
              <!-- TEXT / NUMBER / EMAIL -->
              <input *ngIf="field.type === 'text' || field.type === 'number' || field.type === 'email'"
                [type]="field.type" class="company-text-input" [placeholder]="field.placeholder || ''"
                [ngModel]="formData[field.name]" (ngModelChange)="onInputChange(field, $event)"
                [name]="field.name" [required]="!!field.required"
                [pattern]="field.pattern || ''"/>

              <!-- DATE -->
              <input *ngIf="field.type === 'date'" type="date" class="company-text-input"
                [ngModel]="formData[field.name]" (ngModelChange)="onInputChange(field, $event)"
                [name]="field.name" [required]="!!field.required" />

              <!-- TIME -->
              <input *ngIf="field.type === 'time'"
                type="time"
                class="company-text-input"
                [ngModel]="formData[field.name]" (ngModelChange)="onInputChange(field, $event)"
                [name]="field.name" [required]="!!field.required" />

              <!-- TEXTAREA -->
              <textarea *ngIf="field.type === 'textarea'" class="company-textarea-input" [placeholder]="field.placeholder || ''"
                [ngModel]="formData[field.name]" (ngModelChange)="onInputChange(field, $event)"
                [name]="field.name" [required]="!!field.required">
              </textarea>
 
 
              <div *ngIf="field.type === 'select'" class="custom-dropdown-container">
                <div class="dropdown-trigger"
                     [class.active]="field._open"
                     (click)="field._open = !field._open; $event.stopPropagation()">
                  <span class="trigger-text">
                    {{ getSelectedLabel(field) || field.placeholder || 'Select' }}
                  </span>
                  <i class="fas fa-chevron-down arrow-icon"></i>
                </div>

 
                <!-- DROPDOWN PANEL -->
                <div class="dropdown-panel" *ngIf="field._open" (click)="$event.stopPropagation()">
                  <div class="search-box-wrapper" *ngIf="field.searchable">
                    <div class="search-panel">
                      <div class="search-input-wrapper">
                        <input type="text" 
                               class="dropdown-search-input" 
                               placeholder="Search..."
                               (keydown.enter)="$event.preventDefault()"
                               (input)="onSearchInput(field, $any($event.target).value)">
                      </div>
                    </div>
                  </div>

 
                  <ul class="options-list">
                    <li class="option-item" (click)="selectSearchableOption(field, {label: field.placeholder || 'Select', value: null})">
                      -- {{ field.placeholder || 'Select' }} --
                    </li>
                    <li class="option-item"
                        *ngFor="let opt of (field._filtered || field.options)"
                        (click)="selectSearchableOption(field, opt)">
                      {{ opt.label }}
                    </li>
                    <li class="no-results" *ngIf="(field._filtered || field.options)?.length === 0">No results found</li>
                  </ul>
                </div>
              </div>
              <div *ngIf="errors[field.name]" class="validation-error">
                {{ errors[field.name] }}
              </div>
 
              <select *ngIf="field.type === 'select-dynamic'"
                class="company-text-input"
                [(ngModel)]="formData[field.name]"
                (ngModelChange)="
                  onFieldInput(field.name);
                  formData[field.name] = $event;
                  fieldChange.emit({ name: field.name, value: $event });
                  field.onChange?.($event)
                " [name]="field.name" [required]="!!field.required">
                   [id]="'form-field-' + field.name">

 
                <option value="">-- Select --</option>
 
                <ng-container *ngIf="
                  formData[field.dependsOn] &&
                  field.optionsMap[formData[field.dependsOn]]
                ">
                  <option *ngFor="let opt of field.optionsMap[formData[field.dependsOn]]" [value]="opt.value">
                    {{ opt.label }}
                  </option>
                </ng-container>
 
              </select>
              <!-- CHECKBOX GROUP (🔥 NEW) -->
              <div *ngIf="field.type === 'checkbox'" class="checkbox-group-container" [id]="'form-field-' + field.name">
                <div *ngFor="let opt of field.options" class="checkbox-item">
                  <input type="checkbox" [id]="field.name + '_' + opt.value"
                    [ngModel]="getCheckboxValue(field.name, opt.value)"
                    (ngModelChange)="onCheckboxChange(field.name, opt.value, $event); onFieldInput(field.name)"
                    [name]="field.name + '_' + opt.value" class="company-checkbox-input" />
                  <label [for]="field.name + '_' + opt.value" class="checkbox-label">
                    {{ opt.label }}
                  </label>
                </div>
 
                <!-- ERROR MESSAGE -->
                  <div *ngIf="form.controls[field.name] && form.controls[field.name].invalid && 
(form.controls[field.name].touched || form.controls[field.name].dirty || form.submitted)" class="error-message">
                    <span *ngIf="form.controls[field.name].errors?.['required']">{{ field.label }} is required.</span>
                    <span *ngIf="form.controls[field.name].errors?.['pattern']">Invalid {{ field.label }} format.</span>
                  </div>
              </div>
 
              <!-- RADIO GROUP -->
              <div *ngIf="field.type === 'radio'" class="checkbox-group-container" [id]="'form-field-' + field.name">
                <div *ngFor="let opt of field.options" class="checkbox-item">
                  <input type="radio" [id]="field.name + '_' + opt.value" [value]="opt.value"
                    [(ngModel)]="formData[field.name]" [name]="field.name"
                    (click)="onRadioClick(field.name, opt.value, $event)"
                    (ngModelChange)="fieldChange.emit({ name: field.name, value: $event })"
                    class="company-checkbox-input" />
                  <label [for]="field.name + '_' + opt.value" class="checkbox-label">
                    {{ opt.label }}
                  </label>
                </div>
              </div>
 

              <!-- VALIDATION ERROR FOR ALL FIELDS -->
              <div *ngIf="errors[field.name]" class="validation-error">
                {{ errors[field.name] }}
              </div>

            </div>
            </div>
          </ng-container>
        </div>
 
        <!-- BUTTONS -->
        <div class="form-action-buttons">
          <button type="button" class="btn-cancel-form" (click)="cancel()">
            <i class="fas fa-times"></i> Cancel
          </button>
          <button type="submit" class="btn-submit-form">
            <i class="fas fa-check"></i> Save
          </button>
        </div>
 
      </form>
    </div>
 
  </div>
</div>