<app-header></app-header>
<app-sidebar></app-sidebar>
<app-pageheader [title]="headerTitle" [breadcrumbs]="headerBreadcrumbs">
</app-pageheader>

<app-data-table title="Visits List" [columns]="columns" [rows]="rows" [showAdd]="true" [searchFields]="searchFields"
    [showStatusToggle]="true" [statusField]="'status'" [showRefresh]="true" [showDownload]="true" (refresh)="loadVisits()"
    (searchChange)="onSearchChange($event)"
    (add)="onAdd()" (editRow)="onEdit($event)" (deleteRow)="onDelete($event)" (download)="onDownloadExcel()">
</app-data-table>
