<app-header></app-header>
<app-sidebar></app-sidebar>

<app-pageheader
  [title]="headerTitle"
  [breadcrumbs]="headerBreadcrumbs">
</app-pageheader>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <!-- Loading -->
      <div *ngIf="!isDataLoaded">Loading user data...</div>

      <!-- Form -->
      <app-form
        *ngIf="isDataLoaded"
        [title]="'Edit Manage User'"
        [fields]="manageUserFields"
        [model]="formInitialData"
        (formSubmit)="saveManageUser($event)"
        (cancelForm)="onCancel()">
      </app-form>

    </div>
  </div>
</div>